@page
@model AboutModel

<h2>About SignalR Progress Demo</h2>

<p>Source code in github: <a href="https://github.com/endintiers/SignalR-AspNetCore-ProgressDemo">SignalR-AspNetCore-ProgressDemo</a></p>

<p>I'll put some actual doc of the code here when I've had a wee sleep :-)</p>
