@page
@model NoPostModel
@{
    ViewData["Title"] = "No Post Demo";
}
<div class="container">
    <div class="row vertical-align" style="padding-top: 60px">

        <div class="col-lg-2 col-md-2 col-sm-2">
            <button id="progressButton" class="btn btn-primary"
                    data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp;Working..."
                    onclick="startLongRunningProcess();">
                Progress
            </button>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10" style="height:20px">
            <div id="pbar" class="progress progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>

    </div>

    <div id="parameters-row" class="row" style="padding-top: 8px">
        <div class="col-lg-12 col-sm-12">
            <input id="throwExCheckBox" type="checkbox"/>&nbsp;Throw exception on server
        </div>
    </div>

    <div id="msg-row" class="row" style="padding-top: 8px">
        <div class="col-lg-12 col-sm-12">
            <span id="msg" class="text-success">@Model.Message</span>
        </div>
    </div>

</div>

@section scripts {
    <script>
        var connection;

        $('document').ready(function () {
            connection = new signalR.HubConnection('/nopo');
            connection.on('reportprogress', info => {
                console.log(info.message + ' - ' + info.pct + '%');
                $('#pbar').css('width', info.pct + '%')
                    .attr('aria-valuenow', info.pct).text(info.message);
            });
            connection.on('processcompleted', info => {
                console.log('Process Completed - ' + info.message);
                $('#msg').html('Process Completed - ' + info.message);
                resetUI();
            });
            connection.on('somethingwentwrong', message => {
                console.log(message);
                $('#msg').html('<span class="text-danger">' + message + '</span>');
                resetUI();
            });
            connection.start();
        });

        function startLongRunningProcess() {
            $('#progressButton').button('loading');
            $('#msg').html('');
            var throwEx = $('#throwExCheckBox').prop('checked');
            connection.invoke('startlongrunningprocessasync', { ThrowEx: throwEx, SomeOtherStuff: "blah"} );
        }

        function resetUI() {
            $('#pbar').css('width', '0%').attr('aria-valuenow', 0).text('');
            $('#progressButton').button('reset');
        }
    </script>
}
